<p>
 This training workshop focuses on utilizing machine learning (ML) techniques for flood 
  forecasting, aiming to enhance the accuracy and timeliness of predictions to better protect communities and
  infrastructure. This initiative is a collaborative effort between the Swedish Meteorological and Hydrological
  Institute (SMHI) and Addis Ababa University (AAU), specifically designed for participants from the Ethiopian 
  Meteorological Agency (EMI). The training will encompass both foundational concepts and practical applications
  using real-world data, supported financially by the Swedish International Development Cooperation Agency (Sida)
  as part of the Water and Climate Change Services for Africa, Ethiopia (WACCA-E) phase 2 project.

Additionally, a hands-on workshop is planned to assist researchers in improving their research efficiency through
basic computing skills. This workshop will cover essential topics such as data management, data cleaning, data
analysis, and scientific report writing. Participants are encouraged to collaborate and apply their newly 
acquired skills to their specific research challenges.

Citations:
[1] https://hess.copernicus.org/articles/26/4013/2022/
[2] https://vassarlabs.com/machine-learning-for-flood-forecasting/
[3] https://www.un-spider.org/links-and-resources/data-sources/daotm-floods-ml
[4] https://iwaponline.com/jh/article/26/4/779/100759/Machine-learning-techniques-for-flood-forecasting
[5] https://www.mdpi.com/2073-4441/15/22/3970
[6] https://www.mdpi.com/books/reprint/1151-flood-forecasting-using-machine-learning-methods
[7] https://www.sciencedirect.com/science/article/pii/S2214581823000939
[8] https://www.sciencedirect.com/science/article/pii/S1877050919311330
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
