<div class="row">
 
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00-09:05</td>  <td>Session 1: Opening Remarks (Dr. Baba Madu, National Bureau of Statistics, NBS) </td></tr>
      <tr> <td>09:05-09:10</td>  <td>Opening Remarks (Issoufou Seidou, United Nations Economic Commission for Africa, UNECA) </td></tr>
      <tr> <td>09:10-09:30</td>  <td>Session 2: Machine Learning based Nowcasting Macroeconomic Indicators (GDP) using Google Trends Data (Anjana Dube) via Teams </td></tr>
      <tr> <td>10:30-11:00</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00-12:00</td>  <td>Session 3: Setting up the Python Development Environment (Yonas, UNECA) </td></tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:30</td>  <td>Session 4: Python Basics (Yonas, UNECA) </td></tr>
      <tr> <td>14:30-15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00-17:00</td>  <td>Session 5: Python core libraries: NumPy, Pandas, & Matplotlib Fundamentals (Yonas, UNECA) </td></tr>
    </table>
  </div>
  
  <div class="col-md-4">
    <h3> Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00-10:00</td>  <td>Session 1: Exploratory Data Analysis (EDA) (Yonas, UNECA) </td></tr>
      <tr> <td>10:00-10:30</td>  <td>Session 2: Data Quality and Preprocessing (Yonas, UNECA) </td></tr>
      <tr> <td>10:30-11:00</td>  <td>Coffee</td> </tr>
     
      <tr> <td>11:00-12:00</td>  <td>Data Quality and Preprocessing (Conti...) (Yonas, UNECA)</td></tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:00</td>  <td>Session 3: Time Series Analysis (Yonas, UNECA) </td> </tr>
      <tr> <td>14:00-14:30</td>  <td>Session 4: Feature Engineering and Selection (Yonas, UNECA) </td> </tr>
      <tr> <td>14:30-15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00-15:30</td>  <td>Feature Engineering and Selection (Conti...)  (Yonas, UNECA) </td> </tr>
     <tr> <td>15:30-17:00</td>  <td>Session 5:Time Series Data Splitting & Evaluation Metrics, Model Selection (Yonas, UNECA) </td> </tr>
    </table>
 </div>
 
 <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00-10:30</td>  <td>Session 1: Fundamentals of Machine Learning Algorithms & Frameworks (Yonas, UNECA) </td> </tr>
      <tr> <td>10:30-11:00</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00-12:00</td>  <td>Session 2: Fundamentals of Deep Learning Algorithms & Frameworks (Yonas, UNECA) </td> </tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:30</td>  <td>Session 3: ML/DL Model Implementation (Yonas, UNECA) </td> </tr>
      <tr> <td>14:30-15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00-16:00</td>  <td> ML/DL Model Implementation (Conti...) (Yonas, UNECA) </td> </tr>
      <tr> <td>16:00-17:00</td>  <td>Session 4: Hyperparameter Tuning and Cross-validation (Yonas, UNECA)</td> </tr>
    </table>
  </div>
 <div class="col-md-4">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00-10:30</td>  <td>Session 1: ML/DL based GDP Nowcasting Workflow: Understanding Basics of Google Trends (Yonas, UNECA)</td> </tr>
      <tr> <td>10:30-11:00</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00-12:00</td>  <td>Session 2: </td> Acquiring and Pre-Processing Google Trends (Yonas, UNECA)</tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:30</td>  <td>Session 3: GDP Data Preprocessing</td> (Yonas, UNECA) </tr>
      <tr> <td>14:30-15:00</td>  <td>Coffee</td></tr>
      <tr> <td>15:00-16:00</td>  <td> Session 4: </td>Implement ML/DL Models to nowcast GDP (Yonas, UNECA) </tr>
     <tr> <td>16:00-17:00</td>  <td> Session 5: </td> Visualization, Evaluation, Interpretation, Deployment (Yonas, UNECA) </tr>
    </table>
  </div>
 <div class="col-md-4">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Prepare Spatio-Temporal Data for ML and  DL Models</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2: Effective Communication of Nowcasted GDP  Growth Predictions to Stakeholders and Policymakers (Anjana Dube)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 3: Dedicated Group Project Work Sessions </td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
     <tr> <td>16:00</td>  <td>Session 4: Group Work Presentations</td> </tr>
      <tr> <td>17:00</td>  <td> Final Remarks and Future Directions</td> </tr>
    </table>
  </div>
</div>
