<div class="row">
 
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Installation of Python Environment </td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2: Introduction to  Basic Python Tools </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 3:  Data Preprocessing and Exploration</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Session 4: Data Preprocessing (conti...) </td></tr>
      <tr> <td>16:00</td>  <td>Session 5-6: Fundamentals of Machine Learning </td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  
  <div class="col-md-4">
    <h3> Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Types of Machine Learning Algorithms</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2:  Supervised and Unsupervised Learning Techniques</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 3: Building a Baseline Model</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Session 4-5: ML Models for Time Series Flood  </td> </tr>
     <tr> <td>16:00</td>  <td>Session 6:Evaluation Metrics and Model Selection </td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
 </div>
 <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Fundamentals of Deep Learning</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2-3: Deep Learning Frameworks and ANN </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 4: Introduction to CN)</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Session 5: Recurrent Neural Network (RNN) Basics</td> </tr>
      <tr> <td>16:00</td>  <td>Session 6: Long Short-Term Memory (LSTM) Networks</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
 <div class="col-md-4">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1-2: Resampling and Feature Engineering for Time Series</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 3: Data Windowing and Dataset Preparation</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 4: Autocorrelation Analysis and Cross Validation</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td> Session 5: Recurrent Neural Network Models for Time Series Forecasting</td> </tr>
     <tr> <td>16:00</td>  <td> Session 6: Hyperparameter Tuning and Optimization</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
 <div class="col-md-4">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Prepare Spatio-Temporal Data for ML and  DL Models</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2: Dedicated Group Project Work Sessions</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 3: Dedicated Group Project Work Sessions(Conti...) </td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
     <tr> <td>16:00</td>  <td>Session 4-6: Case Study and Group Work Presentations</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up and Future Directions</td> </tr>
    </table>
  </div>
</div>
