<div class="row">
 
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00-09:05</td>  <td>Session 1: Opening Remarks (Dr. Baba Madu, National Bureau of Statistics, NBS) </td></tr>
      <tr> <td>09:05-09:10</td>  <td>Opening Remarks (Issoufou Seidou, United Nations Economic Commission for Africa, UNECA) </td></tr>
      <tr> <td>09:10-09:30</td>  <td>Session 2: Machine Learning based Nowcasting Macroeconomic Indicators (GDP) using Google Trends Data (Anjana Dube) via Teams </td></tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00-12:00</td>  <td>Session 3: Setting up the Python Development Environment (Yonas, UNECA) </td></tr>
      <tr> <td>12:00-13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00-14:30</td>  <td>Session 4: Python Basics </td></tr>
      <tr> <td>14:30-15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00-17:00</td>  <td>Session 5: Python core libraries: NumPy, Pandas, & Matplotlib Fundamentals </td></tr>
    </table>
  </div>
  
  <div class="col-md-4">
    <h3> Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Types of Machine Learning Algorithms </td></tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2: Supervised and Unsupervised Learning Techniques</td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 3: Building a Baseline Model</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Session 4-5: ML Models for Time Series Flood  </td> </tr>
     <tr> <td>16:00</td>  <td>Session 6:Evaluation Metrics and Model Selection </td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
 </div>
 <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Fundamentals of Deep Learning</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2-3: Deep Learning Frameworks and ANN </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 4: Introduction to Convolutional Neural Networks</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Session 5: Recurrent Neural Network (RNN) Basics</td> </tr>
      <tr> <td>16:00</td>  <td>Session 6: Long Short-Term Memory (LSTM) Networks</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
 <div class="col-md-4">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1-2: Resampling and Feature Engineering for Time Series</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 3: Data Windowing and Dataset Preparation</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 4: Autocorrelation Analysis and Cross Validation</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td> Session 5: Recurrent Neural Network Models for Time Series Forecasting</td> </tr>
     <tr> <td>16:00</td>  <td> Session 6: Hyperparameter Tuning and Optimization</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
 <div class="col-md-4">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Prepare Spatio-Temporal Data for ML and  DL Models</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2: Dedicated Group Project Work Sessions</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 3: Dedicated Group Project Work Sessions(Conti...) </td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
     <tr> <td>16:00</td>  <td>Session 4-6: Case Study and Group Work Presentations</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up and Future Directions</td> </tr>
    </table>
  </div>
</div>
