<div class="row">
  <!-- First Row -->
  <div class="col-md-3">
    <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/00-python-environment/" target="_blank">Python Development Environment</a>
    </h5>
  </div>

<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/01-python-basics/" target="_blank">Python Basics</a>
  </h5>
</div>
  
<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/02-python-core-libraries" target="_blank">Python Core Libraries</a>
  </h5>
</div>
  
<div class="col-md-3">
  <h5 id="syllabus-shell">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/03-exploratory-data-analysis" target="_blank">Exploratory Data Analysis</a>
  </h5>
</div>
</div>

<div class="row">
<!-- Second Row -->
<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/04-data-quality-preprocessing-missingdata" target="_blank">Missing Data</a>
  </h5>
</div>

<div class="row">
<!-- Second Row -->
<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/05-data-quality-preprocessing-outlier" target="_blank">Outliers</a>
  </h5>
</div>

<div class="row">
<!-- Second Row -->
<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/06-stationarity-autocorrelation" target="_blank">Stationarity and Autocorrelation Tests</a>
  </h5>
</div>

<div class="row">
<!-- Second Row -->
<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/07-trends-seasonality" target="_blank">Trends and Seasonality</a>
  </h5>
</div>
    
<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/08-data-splitting-evaluation-metrics " target="_blank">Data Splitting</a>
  </h5>
</div>
</div>

<div class="row">
<!-- Third Row -->
<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/09-machine-learning-algorithms-implementation" target="_blank">Machine Learning Algorithms and Implementation </a>
  </h5>
</div>

<div class="row">
<!-- Fourth Row -->
<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/10-ml-based-gdp-nowcasting-workflow" target="_blank">ML & DL based GDP Nowcasting Workflow</a>
  </h5>
</div>

<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/11-basics-of-google-trends" target="_blank">Basics of Google Trends, Acquiring & Pre-Processing</a>
  </h5>
</div>

<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/12-gdp-data-preprocessing" target="_blank">GDP Data Preprocessing</a>
  </h5>
</div>

<div class="col-md-3">
  <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/13-implement-ml-models-to-nowcast-gdp" target="_blank">Implement ML & DL Models to Nowcast GDP</a>
  </h5>
</div>
</div>

 



  
  <!--
  <div class="col-md-4"><div class="row">
  <div class="col-md-4">
    <h5 id="syllabus-r">Advanced Techniques in Time Series Forecasting</h5>
    <ul>
      <li>Recurrent Neural Network Models for Time Series Forecasting: LSTM, GRU, TFT</li>
      <li>Multi Step Forecasts </li>
      <li>Hands-on Projects with Advanced Time Series Forecasting Techniques</li>
      <li><a href="{{site.dc_pages}}/spreadsheet-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
    <div class="col-md-4">
    <h5 id="syllabus-r">Open Refine</h5>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Data faceing with OpenRefine</li>
      <li>Clustering With OpenRefine</li>
     <li><a href="{{site.dc_pages}}/OpenRefine-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
    <div class="col-md-4">
    <h5 id="syllabus-r">Programming in R</h5>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/reference">Reference...</a></li>
    </ul>
   </div>
  
</div>
    <h5 id="syllabus-shell">The Unix Shell</h5>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>
    </ul>
  </div>
</div>
-->
</div>
 
