<div class="row">
  <!-- First Row -->
  <div class="col-md-3">
    <h4 id="syllabus-r">Python Development Environment</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/00-virtual_environments/">Reference...</a></li>
    </ul>
  </div>
  
  <div class="col-md-3">
    <h4 id="syllabus-r">Python Basics</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/03-machine-learning/">Reference...</a></li>
    </ul>
  </div>
  
  <div class="col-md-3">
    <h4 id="syllabus-r">Python Core Libraries</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>
  
  <div class="col-md-3">
    <h4 id="syllabus-shell">Exploratory Data Analysis (EDA)</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/02-explanatory/">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <!-- Second Row -->
  <div class="col-md-3">
    <h4 id="syllabus-r">Data Quality & Preprocessing</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h4 id="syllabus-r">Time Series Analysis</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h4 id="syllabus-r">Feature Engineering & Selection</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h4 id="syllabus-r">Data Splitting, Evaluation Metrics, & Model Selection</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <!-- Third Row -->
  <div class="col-md-3">
    <h4 id="syllabus-r">Machine Learning Algorithms & Frameworks</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h4 id="syllabus-r">Deep Learning Algorithms & Frameworks</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h4 id="syllabus-r">ML & DL Model Implementation</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h4 id="syllabus-r">Hyperparameter Tuning & Cross-validation</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <!-- Fourth Row -->
  <div class="col-md-3">
    <h4 id="syllabus-r">ML & DL based GDP Nowcasting Workflow</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h4 id="syllabus-r">Basics of Google Trends, Acquiring & Pre-Processing</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h4 id="syllabus-r">GDP Data Preprocessing</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h4 id="syllabus-r">Implement ML & DL Models to Nowcast GDP</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <!-- Fifth Row -->
  <div class="col-md-3">
    <h4 id="syllabus-r">Visualization, Evaluation, Interpretation, & Deployment</h4>
    <ul>
      <li><a href="https://mesfind.github.io/ml-climate/04-deep-learning/">Reference...</a></li>
    </ul>
  </div>
</div>


  
  <!--
  <div class="col-md-4"><div class="row">
  <div class="col-md-4">
    <h4 id="syllabus-r">Advanced Techniques in Time Series Forecasting</h4>
    <ul>
      <li>Recurrent Neural Network Models for Time Series Forecasting: LSTM, GRU, TFT</li>
      <li>Multi Step Forecasts </li>
      <li>Hands-on Projects with Advanced Time Series Forecasting Techniques</li>
      <li><a href="{{site.dc_pages}}/spreadsheet-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
    <div class="col-md-4">
    <h4 id="syllabus-r">Open Refine</h4>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Data faceing with OpenRefine</li>
      <li>Clustering With OpenRefine</li>
     <li><a href="{{site.dc_pages}}/OpenRefine-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
    <div class="col-md-4">
    <h4 id="syllabus-r">Programming in R</h4>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/reference">Reference...</a></li>
    </ul>
   </div>
  
</div>
    <h4 id="syllabus-shell">The Unix Shell</h4>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>
    </ul>
  </div>
</div>
-->
</div>
 
