<div class="row">
  <!-- First Row -->
  <div class="col-md-3">
    <h5 id="syllabus-r">
    <a href="https://yonsci.github.io/gdp-nowcasting-ml/00-python-environment/" target="_blank">Python Development Environment</a>
    </h5>
  </div>

    <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/01-machine-learning/" target="_blank">Python Basics</a>
    </h5>
  </div>
  
  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Python Core Libraries</a>
    </h5>
  </div>
  
  <div class="col-md-3">
    <h5 id="syllabus-shell">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Exploratory Data Analysis (EDA)</a>
    </h5>
  </div>
</div>

<div class="row">
  <!-- Second Row -->
  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Data Quality & Preprocessing</a>
    </h5>
  </div>

  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Time Series Analysis</a>
    </h5>
  </div>

  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Feature Engineering & Selection</a>
    </h5>
  </div>

  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Data Splitting, Evaluation Metrics, & Model Selection</a>
    </h5>
  </div>
</div>

<div class="row">
  <!-- Third Row -->
  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Machine Learning Algorithms & Frameworks</a>
    </h5>
  </div>

  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Deep Learning Algorithms & Frameworks</a>
    </h5>
  </div>

  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">ML & DL Model Implementation</a>
    </h5>
  </div>

  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Hyperparameter Tuning & Cross-validation</a>
    </h5>
  </div>
</div>

<div class="row">
  <!-- Fourth Row -->
  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">ML & DL based GDP Nowcasting Workflow</a>
    </h5>
  </div>

  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Basics of Google Trends, Acquiring & Pre-Processing</a>
    </h5>
  </div>

  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">GDP Data Preprocessing</a>
    </h5>
  </div>

  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Implement ML & DL Models to Nowcast GDP</a>
    </h5>
  </div>
</div>

<div class="row">
  <!-- Fifth Row -->
  <div class="col-md-3">
    <h5 id="syllabus-r">
      <a href="https://yonsci.github.io/gdp-nowcasting-ml/" target="_blank">Visualization, Evaluation, Interpretation, & Deployment</a>
    </h5>
  </div>
    
 



  
  <!--
  <div class="col-md-4"><div class="row">
  <div class="col-md-4">
    <h5 id="syllabus-r">Advanced Techniques in Time Series Forecasting</h5>
    <ul>
      <li>Recurrent Neural Network Models for Time Series Forecasting: LSTM, GRU, TFT</li>
      <li>Multi Step Forecasts </li>
      <li>Hands-on Projects with Advanced Time Series Forecasting Techniques</li>
      <li><a href="{{site.dc_pages}}/spreadsheet-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
    <div class="col-md-4">
    <h5 id="syllabus-r">Open Refine</h5>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Data faceing with OpenRefine</li>
      <li>Clustering With OpenRefine</li>
     <li><a href="{{site.dc_pages}}/OpenRefine-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
    <div class="col-md-4">
    <h5 id="syllabus-r">Programming in R</h5>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/reference">Reference...</a></li>
    </ul>
   </div>
  
</div>
    <h5 id="syllabus-shell">The Unix Shell</h5>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>
    </ul>
  </div>
</div>
-->
</div>
 
